[submodule "configs"]
	path = configs
	url = https://github.com/cshoredaniel/linux-2.6-wm8650-configs.git
[submodule "ANDROID_2.6.32"]
	path = ANDROID_2.6.32
	url = github.com:danielfdickinson/wm8650-kernel
